<nav id="sidebar" class="sidebar">
  <ul class="nav-links">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/products" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-box-seam"></i>
        <span>Productos</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/categories" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-tags"></i>
        <span>Categorías</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/attributes" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-rulers"></i>
        <span>Atributos</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/orders" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-receipt"></i>
        <span>Pedidos</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/customers" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-people"></i>
        <span>Clientes</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/home-management" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-house-gear"></i>
        <span>Gestión Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/gestion-nosotros" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-info-circle"></i>
        <span>Gestión Nosotros</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/gestion-footer" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-window-dock"></i>
        <span>Gestión Footer</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/email-management" routerLinkActive="active" class="sidebar-link" (click)="onLinkClick()">
        <i class="bi bi-envelope-paper-fill"></i>
        <span>Gestión de Emails</span>
      </a>
    </li>
  </ul>
</nav>